@import "tailwindcss";

:root {
  --background: #c6e4ee;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c6e4ee;
    --foreground: #0f172a;
  }
}

html {
  color-scheme: light;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
}
